body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.contact-details  {
  margin: 100px;
}

.btn-actions{
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:hover {
  background-color: #111;
}

li:active {
  background-color: #111;
}